*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: azure;
}
.container{
  max-width: 1200px;
  height:600px;
  margin: 6rem auto;
  position: relative;
}
img{
  width: 100%;
  height:100%;
  object-fit: cover;
}
.container > a{
  text-decoration: none;
  background-color: lightgray;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
}

/* arrow */
.arrow_up{
  position: absolute;
  top: 0.5rem;
  left:570px;
}

.arrow_down{
  position: absolute;
  bottom: 0.7rem;
  left:570px;
}

/* default display images */
.container img{
  display: none;
}
.container .card-body{
  display: none;
}
/* active */
img.active{
  display: block;
}
.card-body.active{
  display: block;
}